{% extends "storage/base.html" %} {% block content %}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<h1>MotoHurt 1.0</h1>
	<p>Witamy w programie MotoHurt. Jest to aplikacja do obsługu magazynu motoryzacyjnego.</p>
	<p>
		<a class="btn btn-primary btn-large">Więcej &raquo;</a>
	</p>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="span4">
		<h2>Towar</h2>
		<p>Lista aktualnie dostępnych towarów na wszystkich magazynach.</p>
		<p>
			<a class="btn" href="/items">Więcej &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h2>Dokumenty</h2>
		<p>Faktury VAT, dokumenty przesunięcia magazynowego MM+, MM-.</p>
		<p>
			<a class="btn" href="/documents">Więcej &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h2>Raporty</h2>
		<p>Raporty prezentujące zestawienie zysków, sprzedaży.</p>
		<p>
			<a class="btn" href="/reports">Więcej &raquo;</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h2>Kontrahenci</h2>
		<p>Lista kontrahentów.</p>
		<p>
			<a class="btn" href="/clients">Więcej &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h2>Magazyny</h2>
		<p>Lista magazynów należących do danej hurtowni.</p>
		<p>
			<a class="btn" href="/storages">Więcej &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h2>Kategorie</h2>
		<p>Kategorie towarów sprzedawanych przez hurtownie.</p>
		<p>
			<a class="btn" href="/categories">Więcej &raquo;</a>
		</p>
	</div>
</div>
<hr>

<footer>
	<p>&copy; Company 2012</p>
</footer>

{% endblock %}
