{% extends "storage/documents.html" %} 
{% load my_custom_templates %}
{% block title %}Faktury{% endblock %}
{% block breadcrumb %}
<li><a href="/">Hurtownia</a> <span class="divider">/</span></li>
<li><a href="/documents">Dokumenty</a> <span class="divider">/</span></li>
<li><a href="/documents/invoice">Faktury</a> <span class="divider">/</span></li>
<li class="active">Faktura VAT - podgląd</li>
{% endblock %}

{% block documents_content %}
<form class="form-horizontal" action="/documents/invoice/add" method="post">
	<fieldset>
		<legend>Faktura VAT - podgląd</legend>
		<div class="control-group">
			<label class="control-label" for="input01">Faktura nr</label>
			<div class="controls">
				<div class="input-append">
					<span class="add-on">{{ invoice_number }}/2012</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">Kontrahent</label>
			<div class="controls" id="client_address">
				<address><strong>{{ client.name }}</strong><br>{{ client.address }}<br>{{ client.country.name }}</address>
			</div>
		</div>
	</fieldset>
	<table class="table table-condensed" id="items_to_sell">
		<thead>
			<tr>
				<th>#</th>
				<th>Nazwa</th>
				<th>Ilość</th>
				<th>Stawka VAT</th>
				<th>Cena sprzedaży netto</th>
				<th>Cena sprzedaży brutto</th>
			</tr>
		</thead>
		<tbody>
			<tbody>
				{% for item in items.all %}
				<tr>
					<td style="display:none">{{ item.id }}</td>
					<td><div>{{ forloop.counter }}</div></td>
					<td><div>{{ item.item.name }}</div></td>
					<td><div>{{ item.count }}</div></td>
					<td><div>{{ item.item.tax_rate }}%</div></td>
					<td><div>{{ net_prices|get_price_by_index:forloop.counter0 }} {{ item.sell_price.currency }}</div></td>
					<td><div>{{ item.sell_price }}</div></td>
					
				</tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
	<input class="btn btn-info" type="submit" value="Wystaw fakture VAT">
</form>
{% endblock %}