{% extends "storage/base.html" %} {% block title %}Towar{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="/">Hurtownia</a> <span class="divider">/</span></li>
			{% if search %}
			<li><a href="/items">Towar</a> <span class="divider">/</span></li>
			<li>Wyniki dla "{{ search }}"</li>
			{% else %}
			<li class="active">Towar</li>
			{% endif %}
			
		</ul>

	</div>
	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-tabs nav-stacked">
				<li class="active"><a href="/items/">Towar</a></li>
				<li class><a href="/categories">Kategorie</a></li>
				<li class><a href="/storages">Magazyny</a></li>
				<li class><a href="/clients">Kontrahenci</a></li>
			</ul>
		</div>
		<div class="span10">
			<form class="form-search" action="/items/" method="POST">
				{% csrf_token %}
				<input type="text" class="input-medium" name="search" value="{{ search }}">
				<button type="submit" class="btn">Search</button>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Towar</th>
						<th>Kategoria</th>
						<th>Ilość</th>
						<th>Magazyn</th>
						<th>Cena zakupu</th>
						<th>Cena sprzedaży</th>
					</tr>
				</thead>
				<tbody>
					{% for item in items.all %}
					{% if item.itemsbucket_set.count == 0 %}
					<tr>
						<td>{{ item.id }}</td>
						<td>{{ item.name }}</td>
						<td>{{ item.category.name }}</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
					{% else %}
					{% for bucket in item.itemsbucket_set.all %}
					<tr>
						<td>{{ item.id }}</td>
						<td>{{ item.name }}</td>
						<td>{{ item.category.name }}</td>
						<td>{{ bucket.count }}</td>
						<td>{{ bucket.storage.name }}</td>
						<td>{{ bucket.buy_price }}</td>
						<td>{{ bucket.sell_price }}</td>
					</tr>
					{% endfor %}
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>
<hr>
<footer>
	<p>&copy; Company 2012</p>
</footer>
{% endblock %}
