{% extends "storage/base.html" %} 

{% block title %}Hurtownia - Raporty{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span12">
		<ul class="breadcrumb">
			{% block breadcrumb %}
			<li><a href="/">Hurtownia</a> <span class="divider">/</span></li>
			<li class="active">Raporty</li>
			{% endblock %}
		</ul>
	</div>
	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-tabs nav-stacked">
				<li class="{{income_active}}"><a href="/reports/income">Przychody</a></li>
				<li class="{{pz_active}}"><a href="/documents/pz">Sprzedaż</a></li>
				<li class="{{wz_active}}"><a href="/documents/wz">WZ</a></li>
			</ul>
		</div>
		<div class="span10">
			{% block documents_content %}
			{% endblock %}
		</div>
	</div>

</div>
<hr>
<footer>
	<p>&copy; Company 2012</p>
</footer>
{% endblock %}