{% extends "storage/base.html" %} {% block title %}Towar{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="#">Hurtownia</a> <span class="divider">/</span></li>
			{% if search %}
			<li><a href="/storages">Magazyny</a> <span class="divider">/</span></li>
			<li>Wyniki dla "{{ search }}"</li>
			{% else %}
			<li class="active">Magazyny</li>
			{% endif %}
		</ul>

	</div>
	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-tabs nav-stacked">
				<li class><a href="/items">Towar</a></li>
				<li class><a href="/categories">Kategorie</a></li>
				<li class="active"><a href="/storages">Magazyny</a></li>
				<li class><a href="/clients">Kontrahenci</a></li>
			</ul>
		</div>
		<div class="span10">
			<form class="form-search" action="/storages/" method="POST">
				{% csrf_token %}
				<input type="text" class="input-medium" name="search" value="{{ search }}">
				<button type="submit" class="btn">Search</button>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nazwa</th>
					</tr>
				</thead>
				<tbody>
					{% for item in storages.all %}
					<tr>
						<td>{{ item.id }}</td>
						<td>{{ item.name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>
<hr>

<footer>
	<p>&copy; Company 2012</p>
</footer>

{% endblock %}
